h1{
  float: left;
  margin: 15px 3%;
  width: 75%;
}

.d1{
    margin: 23px 10%;
    font-size: 23px;
    width: 20%;
}

.d2{
    width: 100%;
    display: flex;
}

.d3{
    width: 100%;
    display: flex;
}

.d2 div{
    width: 20%;
    margin-left: 3%;
}